html 
    head 
        title=title 
        //-meta(name="viewport" content="width=416, user-scalable=yes")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/views/style.css')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css")
    body
    center
        P
        P
        img(src="/images/title.jpg" width=300 onclick="touchImg()")
        br
        input#ib_count.hidden2(type="number" value=0)
        #div_setMission.hidden2 
            P
            select#ib_setMove
                if mission.move==="Squat"
                    option(selected) Squat
                else
                    option Squat
                if mission.move==="Benchpress"
                    option(selected) Benchpress
                else
                    option Benchpress
                if mission.move==="Deadlift"
                    option(selected) Deadlift
                else
                    option Deadlift
            br
            input#ib_setWeight(type="number" value=mission.weight)
            br
            input#ib_setReps(type="number" value=mission.reps)
            br
            input#ib_setSet(type="number" value=mission.set)
            br
            button#btn_setMission(onclick="setMission()") set
        p 
        h3 인스타그램 아이디를 입력하세요.
        p
        #field
            //-input(type="text" id="ib_instaID" name="instaID" style="height:35px;" onKeypress="javascript:if(event.keyCode==13) {confirm()}")
            div#selectID(class="ui search selection dropdown")
                span#ib_instaID(class="text") 
                    font(color="lightgray") enter your instagram ID
                .menu
                    each user in userList
                        .item= user
            button#btn_confirm(class="ui button" onclick="confirm()") 확인
            P 
            P
        #div_mainDiv.box.hidden2
            #div_signupYN(style="display:none")
                P
                | 등록되지 않은 아이디입니다.
                br
                | 이 아이디로 등록하시겠어요?
                p
                button.mini.ui.primary.button(onclick="signupY()") 네
                button.mini.ui.button(onclick="signupN()") 아니오
                P
            #div_signup(style="display:none")
                P
                | 첫 방문을 환영합니다!
                br
                | 본인의 성별과 3대 중량을 입력하세요.
                p
                input#rb_sex(type='radio' value="male" name="radioButton" checked)
                | 남자
                input#rb_sex(type='radio' value="female" name="radioButton")
                | 여자
                P
                P
            #div_signin(style="display:none")
                P
                img#img_profile(src="")
                P
                span#span_name.hidden2
                p
            #div_inputRecord(style="display:none; text-align:right")
                table(style="padding:0px;border:0px")
                    tr
                        td Squat
                        td    
                            input(type="number" id="ib_squat" style="width:50;text-align:right" onchange="changeTotal()" value="0")
                    tr
                        td Benchpress
                        td
                            input(type="number" id="ib_benchpress" style="width:50;text-align:right" onchange="changeTotal()" value="0")
                    tr
                        td Deadlift
                        td 
                            input(type="number" id="ib_deadlift" style="width:50;text-align:right" onchange="changeTotal()" value="0")
                    tr(style="font-weight:bold;text-align:center;background-color:lightgray;")
                        td Total
                        td 
                            span#span_total(style="font-weight:bold;")
                P 
                button(id="btn_save" onclick="save()" class="ui primary button") save
                P
        P
        #div_recommend.box(style="display:none;")
            H3 Mission of the day : 
            P.redColor 
                span#span_movement= mission.move
                font(color="black")=" : "
                span#span_weight(style="font-weight:bold;")
                font(color="black" size=2)="kg "
                span#span_reps(style="font-weight:bold;") 
                    =mission.reps
                font(color="black" size=2)="reps "
                span#span_set(style="font-weight:bold;") 
                    =mission.set
                font(color="black" size=2) set
            P 
            #div_mission.ui.buttons
                button#btn_complete.mini.ui.button(onclick="mission()") Complete
            #div_result.hidden2 
        P
        #div_rival.box(style="display:none;")
            H3 Your competitor
            P 
                span#span_rivalImg
            P
                span#span_rivalName(style="font-weight:bold;")
                =" : "
                span#span_rivalTotal(style="font-weight:bold;")
        P
        P 
        div(id="btn_getRank" onclick="getRank()" class="ui animated button")
            div(class="visible content")
                i.chess.queen.icon
                | rank
            div(class="hidden content")
                i(class="right arrow icon")
        |
        div(id="btn_getRecord" onclick="getRecord()" class="ui animated button" style="visibility:hidden;")
            div(class="visible content")
                i.chart.line.icon
                | personal record
            div(class="hidden content")
                i(class="right arrow icon")
        P
        //- #div_todayClip 
        //-     P
        //-     h5 today's workout clip
        //-     iframe(width="337" height="189" src="https://www.youtube.com/embed/3l8kZAZTAw4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        //- P
        a#a_download.downloadAPK(href="/apk/yourStrength.apk")
            i.download.icon
            | download App for Android
        //-input(type="button" onclick="test()")
        //-input( type="button" onclick="getImgUrl()" )
        P
        
        script(src="//code.jquery.com/jquery-1.11.0.min.js")
        script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js")
        script(src="/script/dropdown.js")
        script(src="/script/index.js")