html 
    head 
        title=title 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        if(title==="total ranking")
            link(rel='stylesheet', href='/views/totalRanking.css')
        if(title==="squat ranking")
            link(rel='stylesheet', href='/views/squatRanking.css')
        if(title==="benchpress ranking")
            link(rel='stylesheet', href='/views/benchpressRanking.css')
        if(title==="deadlift ranking")
            link(rel='stylesheet', href='/views/deadliftRanking.css')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css")
        link(rel='stylesheet', href='/views/style.css')
    body
      center
        - var cnt=1
        P
        if(mw==="mw")
            button#btn_men(class="positive ui button" onclick="selectMen()") MEN
            button#btn_women(class="positive ui button" onclick="selectWomen()") WOMEN
        if(mw==="m")
            button#btn_men(class="positive ui button" onclick="selectMen()") MEN
            button#btn_women(class="ui button" onclick="selectWomen()") WOMEN
        if(mw==="w")
            button#btn_men(class="ui button" onclick="selectMen()") MEN
            button#btn_women(class="positive ui button" onclick="selectWomen()") WOMEN
        if(sessionID!="")
            button#btn_me.mini.ui.button(onclick="findMe(this.value)" value=sessionID) me
        P
        #div_men(class=mw === "w" ? "hidden" : "")
            table#tb_rank_male(width="416px")
                tr 
                    th(width="30px")   
                    th(width="50px") 
                    th(width="150px") instagram ID
                    //th 닉네임
                    th.squat(id="squat" onClick="arrange(this.id)") Squat
                    th.bench(id="bench" onClick="arrange(this.id)")  Bench
                    th.dead(id="dead" onClick="arrange(this.id)")  Dead
                    th.total(id="total" onClick="arrange(this.id)")  Total
                ul
                    each user in rankData 
                        if user.sex==="male"
                            tr(id=user.instaID onclick="tdClick(this.id)")
                                td= cnt++
                                td(style="padding:0px;" width="50px") 
                                    img(src="/images/profile/"+ user.instaID +".jpg" width="50px" height="50px")
                                if(sessionID===user.instaID)
                                    td.instaID_me= user.instaID
                                else
                                    td.instaID= user.instaID
                                td.squat_td= user.squat
                                td.bench_td= user.benchpress
                                td.dead_td= user.deadlift
                                td.total_td= user.total
                                if sessionID==="sleeping.nyanya"
                                    td
                                        button#btn_delete(value=user.instaID onclick="delUser(this.value)") del
                            tr.hidden2(id="tr_"+user.instaID name="tr_")
                                td(id="td_"+user.instaID colspan=7 align="center")
                                    div(id="btn_insta_"+user.instaID onclick="goInsta(this.id)" class="ui animated button")
                                        div(class="visible content") 
                                            i.instagram.icon
                                            |instagram
                                        div(class="hidden content") 
                                            i(class="right arrow icon")
                                    div(id="btn_record_"+user.instaID onclick="goPersonalRecord(this.id)" class="ui animated button")
                                        div(class="visible content")
                                            i.chart.line.icon
                                            | personal record
                                        div(class="hidden content") 
                                            i(class="right arrow icon")
                                    if(sessionID!="" && sessionID!=user.instaID)
                                        if rival===user.instaID
                                            button.positive.ui.button(id="btn_rival_"+user.instaID name='btn_rival' value=user.instaID onclick="toggleRival(this.value)")
                                                i.user.icon
                                                | rival
                                        else 
                                            button.ui.button(id="btn_rival_"+user.instaID name='btn_rival' value=user.instaID onclick="toggleRival(this.value)")
                                                i.user.icon
                                                | rival
                                    
        - cnt=1

        #div_women(class=mw === "m" ? "hidden" : "")
            table#tb_rank_female(width="416px")
                tr
                    th(width="30px")    
                    th(width="50px") 
                    th(width="150px")  instagram ID
                    //th 닉네임
                    th.squat(id="squat" onClick="arrange(this.id)") Squat
                    th.bench(id="bench" onClick="arrange(this.id)")  Bench
                    th.dead(id="dead" onClick="arrange(this.id)")  Dead
                    th.total(id="total" onClick="arrange(this.id)")  Total
                ul
                    each user in rankData 
                        if user.sex==="female"
                            tr(id=user.instaID onclick="tdClick(this.id)")
                                td= cnt++
                                td(style="padding:0px;" width="50px") 
                                    img(src="/images/profile/"+ user.instaID +".jpg" width="50px" height="50px")
                                if(sessionID===user.instaID)
                                    td.instaID_me= user.instaID
                                else
                                    td.instaID= user.instaID
                                td.squat_td= user.squat
                                td.bench_td= user.benchpress
                                td.dead_td= user.deadlift
                                td.total_td= user.total
                                if sessionID==="sleeping.nyanya"
                                    td
                                        button#btn_delete(value=user.instaID onclick="delUser(this.value)") del
                            tr.hidden2(id="tr_"+user.instaID name="tr_")
                                td(id="td_"+user.instaID colspan=7 align="center")
                                    div(id="btn_insta_"+user.instaID onclick="goInsta(this.id)" class="ui animated button")
                                        div(class="visible content") 
                                            i.instagram.icon
                                            |instagram
                                        div(class="hidden content")
                                            i(class="right arrow icon")
                                    div(id="btn_record_"+user.instaID onclick="goPersonalRecord(this.id)" class="ui animated button")
                                        div(class="visible content")
                                            i.chart.line.icon
                                            | personal record
                                        div(class="hidden content")
                                            i(class="right arrow icon")
                                    if(sessionID!="" && sessionID!=user.instaID)
                                        if rival===user.instaID
                                            button.positive.ui.button(id="btn_rival_"+user.instaID name='btn_rival' value=user.instaID onclick="toggleRival(this.value)") 
                                                i.user.icon
                                                | rival
                                        else 
                                            button.ui.button(id="btn_rival_"+user.instaID name='btn_rival' value=user.instaID onclick="toggleRival(this.value)")
                                                i.user.icon
                                                | rival
        p

        script(src="//code.jquery.com/jquery-1.11.0.min.js")
        script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js")
        script(src="/script/ranking.js")